@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <h1>Movie and Actor Hub</h1>
    <p>Explore a world of cinematic wonders! Manage your favorite movies, discover actor profiles, and leverage AI to analyze reviews and sentiments like never before.</p>
</div>
